@media screen and (max-width: 576px) 
{ 


   
}
@media screen and (min-width: 577px) and (max-width: 768px) 
{ 
    body
    {
        float:left;
        text-align:center;
        width:100%;
    }
    
}
@media screen and (min-width: 769px) and (max-width: 992px) 
{ 
    body
    {
        float:left;
        text-align:center;
        width:100%;
    }
    
}
@media screen and (min-width: 993px) and (max-width: 1200px)  
{ 
    body
    {
        float:left;
        text-align:center;
        width:100%;
    }
  
}

